<link href="~/fonts/font-awesome.min.css" rel="stylesheet" />
<div class="col-lg-2 p-0">

  
    <ul class="navbar-nav sidebar text-center">

        <li class="nav-item mt-5 pb-2 Admin">
            <a href="@Url.Action("ShowAllEmployee")" class="nav-link">
                <span class="admin">Admin Panel</span>
            </a>
            <hr class="Divider">
        </li>
        <li class="nav-item mt-5">
            <a href="@Url.Action("ShowAllEmployee")" class="nav-link">
                <span>Employee List</span>
            </a>
        </li>
        <li class="nav-item mt-5">
            <a href="@Url.Action("ShowListTaluka")" class="nav-link">
                <span>Taluka List</span>
            </a>
        </li>
        <li class="nav-item mt-5">
            <a href="@Url.Action("ShowListDistrict")" class="nav-link">
                <span>District List</span>
            </a>
        </li>
        <li class="nav-item mt-5">
            <a href="@Url.Action("ShowAllEmployee")" class="nav-link">
                <span>Exams List</span>
            </a>
        </li>
        <li class="nav-item mt-5">
            <a href="@Url.Action("ShowAllEmployee")" class="nav-link">
                <span>Employee Exam List</span>
            </a>
        </li>
        <li class="nav-item mt-5">
            <a href="@Url.Action("GetRetireEmp")" class="nav-link"><span>Get Report</span></a>
        </li>
    </ul>
</div>
