@model IEnumerable<EmployeeForm.Models.Employee>
@using EmployeeForm.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="witdh=device-witdh, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Css/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper" style="border:0px solid;">
        <div class="row">
            @Html.Partial("Sidebar")
            <div class="col-lg-10 col-md-10">
                <div class="row justify-content-center" style="border:0px solid;">
                    <div class="col-lg-12 d-block text-center">
                        <h1 class="Header" style="border:0px solid;">Detail of Employee</h1>
                    </div>
                </div>

                <table class="detail table">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.Label("First Name",new { @class = "Heading"})
                            </td>

                            <td>
                                @Html.DisplayFor(m => item.FirstName)
                            </td>

                            <td>
                                @Html.Label("Middle Name", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.MiddleName)
                            </td>
                        </tr>
                        <tr>

                            <td>
                                @Html.Label("Last Name", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.LastName)
                            </td>

                            <td>
                                @Html.Label("Gender", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.Gender)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Email", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.Email)
                            </td>

                            <td>
                                @Html.Label("Present Address", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.PresentAddress)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Present DistrictID", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.PresentDistrictID)
                            </td>

                            <td>
                                @Html.Label("Present TalukaID", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.PresentTalukaID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Present PINCODE", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.PresentPINCODE)
                            </td>

                            <td>
                                @Html.Label("Native Address", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.NativeAddress)
                            </td>
                        </tr>
                        <tr>

                            <td>
                                @Html.Label("Native DitsrictID", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.NativeDistrictID)
                            </td>

                            <td>
                                @Html.Label("Native TalukaID", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.NativeTalukaID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Native PINCODE", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.NativePINCODE)
                            </td>

                            <td>
                                @Html.Label("Phone Number", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.PhoneNumber)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Alternate Phone Number", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.AlternatePhoneNumber)
                            </td>

                            <td>
                                @Html.Label("Emergency Contact Number", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.EmergencyContactNumber)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Emergency Contact Name", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.EmergencyContactName)
                            </td>

                            <td>
                                @Html.Label("Date Of Birth", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.DateOfBirth)
                            </td>

                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Date of Join", new { @class = "Heading" })
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Dateofjoin)
                            </td>

                            <td>
                                @Html.Label("Date Of Rertirement", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.DateofRetirement)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Date of District Joining", new { @class = "Heading" })
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.DistrictJoiningDate)
                            </td>

                            <td>
                                @Html.Label("Employee Entry in Ditsrict", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.EmployeeEntryinDistrict)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Emergency Type", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.EmployeeType)
                            </td>

                            <td>
                                @Html.Label("Agency ID", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.AgencyID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Created BY", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.CreatedBy)
                            </td>

                            <td>
                                @Html.Label("Created Date", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.CreatedDate)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("Updated By", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.UpdatedBy)
                            </td>

                            <td>
                                @Html.Label("Updated Date", new { @class = "Heading" })
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.UpdatedDate)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("IS Active", new { @class = "Heading" })
                            </td>
                            <td>
                                @if ( item.isActive == false)
                                {
                                    @Html.Label("NO")
                                }
                                else
                                {
                                    @Html.Label("YES")
                                }
                            </td>

                        </tr>
                    }
                    </table>
            </div>
        </div>
    </div>
</body>
</html>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
