@model IEnumerable<EmployeeForm.Models.Employee>
@using EmployeeForm.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="witdh=device-witdh, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Css/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid" style="border:0px solid;">
        <div class="row">
            @Html.Partial("Sidebar")
            <div class="col-lg-10">
                <div class="row justify-content-center" style="border:0px solid;">
                    <div class="col-lg-12 d-block text-center">
                        <h1 class="Header" style="border:0px solid;">Detail of Employee</h1>
                    </div>
                </div>

                <table class="detail">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </td>

                            <td>
                                @Html.DisplayFor(m => item.FirstName)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.MiddleName)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.MiddleName)
                            </td>
                        </tr>
                        <tr>

                            <td>
                                @Html.DisplayNameFor(model => model.LastName)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.LastName)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.Gender)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.Gender)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Email)
                            </td>
                            ]

                            <td>
                                @Html.DisplayFor(model => item.Email)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.PresentAddress)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.PresentAddress)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.PresentDistrictID)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.PresentDistrictID)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.PresentTalukaID)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.PresentTalukaID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.PresentPINCODE)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.PresentPINCODE)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.NativeAddress)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.NativeAddress)
                            </td>
                        </tr>
                        <tr>

                            <td>
                                @Html.DisplayNameFor(model => model.NativeDistrictID)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.NativeDistrictID)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.NativeTalukaID)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.NativeTalukaID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.NativePINCODE)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.NativePINCODE)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.PhoneNumber)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.AlternatePhoneNumber)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.AlternatePhoneNumber)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.EmergencyContactNumber)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.EmergencyContactNumber)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.EmergencyContactName)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.EmergencyContactName)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.DateOfBirth)
                            </td>

                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Dateofjoin)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Dateofjoin)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.DateofRetirement)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.DateofRetirement)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DistrictJoiningDate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.DistrictJoiningDate)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.EmployeeEntryinDistrict)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.EmployeeEntryinDistrict)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.EmployeeType)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.EmployeeType)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.AgencyID)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.AgencyID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.CreatedBy)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.CreatedDate)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UpdatedBy)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.UpdatedBy)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.UpdatedDate)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.UpdatedDate)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.isActive)
                            </td>
                            <td>
                                @if ( item.isActive == false)
                                {
                                    @Html.Label("NO")
                                }
                                else
                                {
                                    @Html.Label("YES")
                                }
                            </td>

                        </tr>
                    }
                    </table>
            </div>
        </div>
    </div>
</body>
</html>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
