@model IEnumerable<EmployeeForm.Models.Agency>
<!DOCTYPE html>
<html>
<head>
    <title>List of agency</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale = 1.0">
</head>
<body>
    <div class="wrapper">
        <div class="row text-center">
            @Html.Partial("Sidebar")
            <div class="col-lg-10 col-md-10">
                <div class="Header">
                    List Of Agnecy
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AgencyID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AgencyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                    </tr>
                    @foreach(var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(showitem => item.AgencyID)
                    </td>
                    <td>
                        @Html.DisplayFor(showitem => item.AgencyName)
                    </td>
                    <td>
                        @Html.DisplayFor(showitem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(showitem => item.CreatedDate)
                    </td>
                </tr>
                    }
                </table>
            </div>
            
        </div>
    </div>
</body>
</html>
