@model IEnumerable<EmployeeForm.Models.Employee>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid-lg" style="border:0px solid;">
        <div class="row">
            @Html.Partial("Sidebar")
            <div class="col-lg-10">
                <div class="row justify-content-center" style="border:0px solid;">
                    <div class="col-lg-12 d-block text-center">
                        <h1 class="Header" style="border:0px solid;">List Employee</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @Html.TextBox("Search", "", new { PlaceHolder = "Search...", @class = "form-control searchbox mt-5" })
                        <button class="btn btn-success px-4 sbtn mt-5">Search</button>
                    </div>
                </div>
                <div class="form-box mt-5 pl-5">
                    <div class="row">
                        <div class="col-lg-12 mt-5">

                            <table class="table mt-3">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Gender)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PresentDistrictID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PresentTalukaID)
                                    </th>
    <!--<th>
        @Html.DisplayNameFor(model => model.PresentPINCODE)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.NativeAddress)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.NativeDistrictID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.NativeTalukaID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.NativePINCODE)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.AlternatePhoneNumber)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.EmergencyContactNumber)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.EmergencyContactName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DateOfBirth)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Dateofjoin)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DateofRetirement)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DistrictJoiningDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.EmployeeEntryinDistrict)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.EmployeeType)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.AgencyID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CreatedBy)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CreatedDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.UpdatedBy)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.UpdatedDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.isActive)
    </th>-->
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                  if(item.isActive == true)
                                  {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PresentDistrictID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PresentTalukaID)
                                </td>
    <!--<td>
        @Html.DisplayFor(modelItem => item.PresentPINCODE)
    </td>
    <td>-
        @Html.DisplayFor(modelItem => item.NativeAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NativeDistrictID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NativeTalukaID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NativePINCODE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AlternatePhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmergencyContactNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmergencyContactName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dateofjoin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateofRetirement)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DistrictJoiningDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeEntryinDistrict)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AgencyID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedBy)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UpdatedBy)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UpdatedDate)
    </td>
    <td>

        if (item.isActive == false)
        {
            @Html.Label("NO")
        }
        else
        {
            @Html.Label("YES")
        }

    </td>-->
                                <td>
                                    <a href="@Url.Action("EditEmp", "Employee", new { id = item.EmployeeID })" class="btn btn-primary">
                                         Edit
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "Employee", new { id = item.EmployeeID })" class="btn btn-danger">
                                        Details
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("EmpActive", "Employee", new { id = item.EmployeeID })" class="btn btn-success">
                                        IsActive
                                    </a>
                                </td>
                            </tr>
                                  }
                                }
                            </table>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
